*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f7ff;
}

/*SECTION PRESENTATION*/

/*Header*/

.header{
    min-height: 15vh;
    width: 100%;
    background: linear-gradient(to bottom right, #d4cdf7, #9783fc);
    box-shadow: 1px 1px 10px 1px darkgrey;
    position: fixed;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content:end;
    line-height: 6em;
    margin-right: 4em;      
}

.nav-item{
    display: inline;
    text-transform: uppercase;
    margin-left: 2em;   
}

.nav-item a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding: 0.6em 0.6em; 
}

.btn-item{
    color: white;
    background-color: #ff3300;
    border-radius: 20px;
    padding: 0.6em 0.6em;   
}

.btn:hover{
    background-color: #fc5024;
    color: white;
}

.btn:active{
    box-shadow: 1px 1px 20px 1px #eec9ff;
    background-color: #ff0000;
}

.item:hover{
    color: #fc5024;
}

.item:active{
    color: white;
    border-radius: 20px;
    padding: 0.6em 0.6em;   
    box-shadow: 1px 1px 20px 1px #eec9ff;
    background-color: #ff0000;
}
/*End of Header*/

/*About Me*/

.presentation-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16em 4em 5em 4em;
}

.primary-box{
    width: 50%;
    margin-top: 2.5em;
}

.title .name-subname{
    font-size: bold;
}

.title{
    color: #b9acf9;
}

.name-subname{
    font-size: 3.5em;
    color: #ff3300;
}

.description{
    color: rgb(119, 116, 116);
    margin-top: 1em;
}

.btn-presentation{
    background: #ff3300;
    border-style: none;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 1em 1.5em;
    font-size: 15px;
    margin-top: 30px;   
}

.btn-style{
    text-decoration: none;
    color: white;
}

.secondary-box{
    width: 50%;
}

.image-presentation{
    width: 100%;
}

/*End of About Me*/

/*END OF SECTION PRESENTATION*/

/*SECTION KNOWLEDGE*/

.knowledge{
    background-color: #f2f0f7;
    padding-bottom: 10em; 
}

.title-section{
    text-align: center; 
    padding-top: 3em;
    font-size: 3em;
    color: #ff3300;
}

.description-section{
    text-align: center;
    margin: auto;
    color: rgb(119, 116, 116);
    margin-top: 1em;
    max-width: 30vw;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 8em;
    width: 65%; 
}

.box{
    background-color: white;
    border-radius: 10px;
    width: 31%;
    text-align: center;
    margin-top: 1em;
    border: 1px solid #e6e3f0;
}

.box:hover{
    border: 1px solid #9783fc ;
    color: #9783fc;
}

.box-image{
    width:30%;
    height: 50%;
    margin-top: 1.5em;
}

.title-box{
    margin-top: 1em;
    margin-bottom: 4em;
    font-weight: 500;
}

/*END OF SECTION KNOWLEDGE*/

/*SECTION SENTENCE*/

.sentence{
    background-color:#ff3300 ;  
}

.quotes{
    width: 8%;
    display: block;
    margin: auto;
    padding-top: 10em;
}

.sentence-text{
    text-align: center;
    font-size: 2em;
    color: white;
    max-width: 55%;
    margin: auto;
    margin-top: 3em;
    padding-bottom: 8em;
}

/*END OF SECTION SENTENCE*/

/*SECTION PROJECTS*/

.projects{
    background-color: white;
    padding-bottom: 10em;
}

.title-section{
    text-align: center;
    padding-top: 3em;
    font-size: 3em;  
    color: #ff3300;
}

.bigbox-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8em;  
    justify-content: space-between;
    padding: 0em 9em 0em 8em;
}

.bigbox{
    background-color: white;
    border-radius: 10px;
    width: 25vw;
    height: 25vw;
    text-align: center;
    border: 1px solid #e6e3f0;
    margin-top: 1.3em;
    text-decoration: none;
    color: black;
    padding-bottom: 3em;
}

.bigbox:hover{
    border: 1px solid #9783fc;
    color: #9783fc;
}

.bigbox:active{
    box-shadow: 1px 1px 10px 1px #8169f8;
}

.bigbox-image{
    width: 100%;
    height: 70%;
    margin-top: 3.5em;
    padding: 2em 2em 2em 2em;
}

.title-bigbox{
     font-weight: 500;
}

/*END OF SECTION PROJECTS*/

/*SECTION FORMS*/

.forms{
    background-color: #f9f7ff;
    padding-top: 10em;
}

.forms-container{
    background-color: white;
    width: 85vw;
    display: flex;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #e6e3f0;
    justify-content: space-around;
    padding: 6em 4em;
}

.contact-me{
    width: 40vw;
}

.title-form{
    font-size: 3em;
    color:#ff3300;
}

/*Section Contact me*/

.description-form{
    margin-top: 2em;
    max-width: 30vw;
}

.list-form{
    margin-top: 2em;
}

.item-form{
    list-style: none;
    padding: 0.8em;
    max-width: 25vw;
    margin-top: 0.5em;
}

.link-form{
    text-decoration: none;
    color: black;
}

.bi{
 color: #b9acf9 ;
 padding: 0.4em 0.5em;
 font-size: 1.3em;
 margin-right: 0.3em;
 background-color: white;
 border-radius: 50px;
}

.link-form:hover .bi{
    background-color:#9783fc ;
    color: white;
    border-radius: 50px;
}

.link-form:hover{
    color: #9783fc;
}

.item-form:active{
    box-shadow: 1px 1px 10px 1px #9783fc ;
    border-radius: 50px;
}

/*End of Section Contact me*/

/*Section Write Me*/

.write-me{
  width: 40vw;
}

.form-box{
    margin-top: 1em;
}

.input{
    display: block;
    border-radius: 30px;
    width: 16vw;
    height: 6vh;
    padding-left: 1em;
    border: none;
    background-color:#f9f7ff;
    margin-right: 1em;
    margin-top: 1em;
    outline: none;
}

.label{
    display: inline-block;
    font-weight: 500;
    margin-top: 1em;
}

.form-email{
    margin-top: 1em;
}

.message{
    margin-top: 1em;
}

.textarea{
    margin-top: 1em;
    border-radius: 20px;
    border: none;
    background-color:#f9f7ff;
    padding: 1em;
    outline: none;
}

.email{
    width: 34vw;
}

.input:hover{
    box-shadow: 1px 1px 10px 1px #9783fc;
}

.input:focus{
    box-shadow: 1px 1px 10px 1px #9783fc;
}

.textarea:hover{
    box-shadow: 1px 1px 10px 1px #9783fc;
}

.textarea:focus{
    box-shadow: 1px 1px 10px 1px #9783fc;
}

.button-form{
    background-color:#ff3300;
    border: none;
    color: white;
    padding: 1em 3.5em;
    border-radius: 30px;
    margin-top: 2em;
}

.send-form{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.button-form:hover{
    background-color: #fc5024;
    color: white;
}

.button-form:active{
    box-shadow: 1px 1px 20px 1px #eec9ff;
    background-color: #ff0000;
}

/*End of Section Write Me*/

/*END OF SECTION FORMS*/

/*SECTION FOOTER*/

.footer{
    background-color: #ff3300;
    color: white;
    width: 100%; 
}


.list-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 8em;
    padding-top: 6em;    
}

.item-nav{
    margin-left: 1em;
    text-transform: uppercase;   
}

.item-secondary{
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 30px;
}

.item-secondary:active{
    box-shadow: 1px 1px 20px 1px rgb(252, 128, 107);
}

.subnav-list{
    display: flex;
    justify-content: center;
}

.subnav-item{
    list-style: none;
    margin-top: 3em;
    padding: 0em 0.8em;
}

.icon{
    background-color: tomato;
    color: white;
}

.icon:hover{
    color: white;
    background-color: #9783fc;
}

.icon:active{
    box-shadow: 1px 1px 20px 1px tomato;
}

.firm{
   margin-top: 3em;
   padding-bottom: 5em;
   text-align: center;
}

/*END OF SECTION FOOTER*/

/*MEDIA QUERIES*/

@media (min-width:1025px) and (max-width:1236px){

    /*SECTION PRESENTATION*/

    .presentation-container{
        padding: 16em 2em 5em 2em;;
    }

    .description-section{
        max-width: 40vw;
    }

    /*SECTION SENTENCE*/

    .sentence-text{
        max-width: 65vw;
    }

    /*SECTION PROJECTS*/

    .title-section{
        margin-top:0;
    }

    .bigbox-container{
        padding: 0em 2em 0em 2em;
        margin-top: 5em;    
    }

    .bigbox{
        width: 30vw;
    }

    .bigbox-image{
        width: 100%;
        height: 90%;
        margin-top: 0.8em;
    }

    /*SECTION FORMS*/
    
    .forms-container{
        padding: 6em 2em;
        width: 90vw;
    }

    /*Section Contact Me*/

    .description-form{
        max-width: 35vw;
    }

    .item-form{
        max-width: 30vw;
    }
    
    /*Section Write me*/

    .input{
        height: 10vh;
    }

    .textarea{
        width: 34vw;
    }
}

@media (min-width:769px) and (max-width:1024px){

    /*SECTION PRESENTATION*/

    .header{
        display: none;
    }

    /*Section About me*/

    .presentation-container{
        flex-direction: column;
        padding: 5em 0em 5em 0em;
        align-content: center;
        text-align: center;
    }

    .primary-box{
        width: 100%;
    }

    .secondary-box{
        width: 80%;
        margin: auto;
        margin-top: 3em;
    }

    /*SECTION KNOWLEDGE*/

    .description-section{
        max-width: 50vw;
    }

    .box-container{
        width: 90vw;
    }

    /*SECTION SENTENCE*/

    .projects{
        padding-bottom:0;
    }

    .sentence-text{
        max-width: 90vw;
    }

    /*SECTION PROJECTS*/

    .bigbox-container{
        padding: 0em 4em 0em 4em;
        margin-top: 5em;
    }

    .bigbox{
        width: 40vw;  
        height: 100vh;   
    }

    .bigbox-image{
        width: 100%;
        height: 90%;
        margin-top: 1em;
    }

    /*SECTION FORMS*/

    .forms{
        background-color: white;
    }

    .forms-container{
        width: 100%;
        border: none;
        padding: 6em 2em;
        flex-direction: column;
        border-top: 1px solid #e6e3f0 ;
        border-radius: 0;
    }

    .contact-me{
        width: 100%;
        padding: 0em 1em 0em 1em;    
    }

    .description-form{
        max-width: 50vw;     
    }

    .list-form{
        display: block;
        justify-content: space-between;
        width: 80vw;
    }

    .item-form{
        max-width: 80%;
        display: inline-block;
        padding-right: 5em;
    }

    .write-me{
        width: 100%;
        padding: 0em 1em 0em 1em;
        margin-top: 3em;
    }

    /*Section Write Me*/

    .input{
        width: 39vw;
        height: 15vh;
    }

    .email{
        width: 80vw;
    }

    .textarea{
        width: 80vw;
    }
}

@media (min-width:481px) and (max-width:768px){
    
     /*SECTION PRESENTATION*/

     .header{
        display: none;
    }

    /*Section About me*/

    .presentation-container{
        flex-direction: column;
        padding: 5em 0em 5em 0em;
        align-content: center;
        text-align: center;
    }

    .primary-box{
        width: 100%;
    }

    .secondary-box{
        width: 80%;
        margin: auto;
        margin-top: 3em;
    }

    /*SECTION KNOWLEDGE*/

    .title-section{
        font-size: 2.5em;
    }

    .description-section{
        max-width: 80vw;
    }

    .box-container{
        width: 100vw;
        padding:0em 1em 0em 1em;
    }

    .box{
        width: 45vw;
        margin-top: 0.5em;
    }

    /*SECTION SENTENCE*/

    .sentence-text{
        max-width: 90vw;
        font-size: 1.3em;
    }

    /*SECTION PROJECTS*/

    .projects{
        padding-bottom:0;
    }

    .bigbox-container{
        padding: 0em 4em 0em 4em;
        margin-top: 5em;
    }

    .bigbox{
        width: 80vw;  
        height: 100vh;   
    }

    .bigbox-image{
        width: 100%;
        height: 90%;
        margin-top: 1em;
    }

    /*SECTION FORMS*/

    .forms{
        background-color: white;
    }

    .forms-container{
        width: 100%;
        border: none;
        padding: 6em 2em;
        flex-direction: column;
        border-top: 1px solid #e6e3f0 ;
        border-radius: 0;
    }

    .contact-me{
        width: 100%;
        padding: 0em 1em 0em 1em;    
    }

    .description-form{
        max-width: 80vw;     
    }

    .list-form{
        display: block;
        justify-content: space-between;
        width: 80vw;      
    }

    .item-form{
        max-width: 100%;
        display: inline-block;
        padding-right: 5em;
    }

    .write-me{
        width: 100%;
        padding: 0em 1em 0em 1em;
        margin-top: 3em;
    }

    /*Section Write Me*/

    .input{
        width: 80vw;
        height: 15vh;
    }

    .email{
        width: 80vw;
    }

    .textarea{
        width: 80vw;
    }

    /*FOOTER*/

    .nav-secondary{
        display: none;
    }
}

@media (min-width:320px) and (max-width:480px){
    
        /*SECTION PRESENTATION*/

        .header{
            display: none;
        }
    
        /*Section About me*/
    
        .presentation-container{
            flex-direction: column;
            padding: 5em 0em 5em 0em;
            align-content: center;
            text-align: center;
        }
    
        .primary-box{
            width: 100%;
        }
    
        .secondary-box{
            width: 80%;
            margin: auto;
            margin-top: 3em;
        }
    
        /*SECTION KNOWLEDGE*/

        .knowledge{
            padding-bottom: 8em;
        }
    
        .title-section{
            font-size: 2em;
        }
    
        .description-section{
            max-width: 80vw;
        }
    
        .box-container{
            width: 100vw;
            padding:0em 1em 0em 1em;
            margin-top: 3em;
        }
    
        .box{
            width: 60vw;
            margin-top: 0.5em;
        }
    
        /*SECTION SENTENCE*/
    
        .quotes{
            padding-top: 5em;
        }
        
        .sentence-text{
            max-width: 90vw;
            font-size: 1em;
        }

    
        /*SECTION PROJECTS*/
    
        .projects{
            padding-bottom:0;
        }

        .title-section{
            margin-top: 0;
        }
    
        .bigbox-container{
            padding: 0em 1em 0em 1em;
            margin-top: 4em;
        }
    
        .bigbox{
            width: 90vw;  
            height: 100vh;   
        }
    
        .bigbox-image{
            width: 100%;
            height: 90%;
            margin-top: 1em;
        }
    
        /*SECTION FORMS*/
    
        .forms{
            background-color: white;
            padding-top: 8em;     
        }
    
        .forms-container{
            width: 100%;
            border: none;
            padding: 6em 1em;
            flex-direction: column;
            border-top: 1px solid #e6e3f0 ;
            border-radius: 0;
        }
    
        .title-form{
            font-size: 2.2em;
        }

        .contact-me{
            width: 100%;
            padding: 0em;    
        }
    
        .description-form{
            max-width: 90vw; 
            font-size: 0.9em;    
        }
    
        .list-form{
            flex-direction: column;
            width: 90vw;         
        }
    
        .item-form{
            max-width: 90%;
            padding-right:0;
            font-size: 0.9em;
        }
    
        .write-me{
            width: 100%;
            padding: 0em 1em 0em 1em;
            margin-top: 3em;
        }
    
        /*Section Write Me*/
    
        .input{
            width: 80vw;
            height: 10vh;
        }
    
        .email{
            width: 80vw;
        }
    
        .textarea{
            width: 80vw;
        }
    
        /*FOOTER*/
    
        .nav-secondary{
            display: none;
        }
}